.product-card {
  transition: transform 0.3s ease;
  /* width: 300px; */
}

.product-card:hover {
  transform: translateY(-5px);
}

/* image */
.product-card img {
  height: 250px;
  object-fit: cover;
}
.one-line-ellipsis {
  white-space: nowrap;     
  overflow: hidden;         
  text-overflow: ellipsis;  
}

/* icons */
.icon-btn {
  background: white;
  border-radius: 50%;
  padding: 6px 10px;
  margin-bottom: 3px;
  color: black;
  text-decoration: none;
  font-size: 17px;
  transition: 0.3s;
}

.icon-btn:hover {
  background: var(--primary-color);
  color: white;
}

/* overlay */
.overlay {
  position: absolute;
  opacity: 0;
  transition: 0.3s;
  bottom: 0;
  width: 100%;
}

.product-card:hover .overlay {
  opacity: 1;
}

/* button */
.overlay button {
  transform: translateY(20px);
  transition: 0.3s;
}

.product-card:hover .overlay button {
  transform: translateY(0);
}

/* rating */
.rating i {
  margin: 0 2px;
}
.product-price{
  color: var(--primary-color);
  font-weight: 500;
}
.sale-amount{
  position: absolute;
  top: 15px;
  left: 5px;
  background-color:var(--primary-color) ;
  width: 58px;
  height: 26px;
  border-radius: 7px;
  text-align: center;
  color: white;
}
.card,.card-img-top {
  cursor: pointer;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.03);
}
 /* mobile  */
@media (max-width: 576px) {
  .product-card {
    font-size: 12px;
  }

  .product-card h6 {
    font-size: 13px;
  }

  .product-card .btn {
    padding: 4px;
    font-size: 12px;
  }

  .icons i {
    font-size: 14px;
  }
  .product-card img {
    max-height: 120px;  
}
}