.thumb {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  cursor: pointer;
  border: 3px solid  rgb(242, 242, 242);
  background-color:white;
  padding: 6px;
  transition: 0.3s;
  object-fit: contain;
}
@media (min-width:800px) {
  .thumb{
      max-height: 120px;
  max-width: 120px;
    margin-bottom: 15px;
    margin-left: 20px;

  }
    .thumbnails{
    flex-direction: column;
  }
  
}
@media (min-width: 100px) and (max-width: 800px) {
  .thumb {
    max-height: 100px;
    max-width: 100px;
    margin: 10px;
  }
  .thumbnails{
    flex-direction: row;
    
  }
}
.thumb:hover,
.thumb.active {
  border: 2px solid #dc3545;
}
.main-img {
  width: 100%;
  /* height: 100%; */
  height: 550px;
    object-fit: contain;
  border: 3px solid  rgb(242, 242, 242);
  background-color:white;
  padding: 12px;
  border-radius: 5px;

}

.color-box {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 6px;
  cursor: pointer;
  border: 2px solid transparent;
}

.color-box.active {
  border: 2px solid #000;
}

.qty-box {
  border: 1px solid #ddd;
  border-radius: 6px;
  overflow: hidden;
}

.qty-box button {
  border: none;
}

.delivery-box {
  border: 1px solid #ddd;
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.3s;
}

.delivery-box:hover {
  background-color: #f9f9f9;
}
.bi{
  margin: 1px;
}
.btn-increase{
  background-color: var(--primary-color);
}
.bi-truck,.bi-arrow-repeat{
  font-size: 25px;
  padding: 8px;
  margin-right: 10px;
}
/* ///details  */
.nav-link-btn{
  border: none;
  border-bottom: 2px solid rgb(214, 211, 211);
  border-radius: 0;
  background-color: white;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  color: gray;
}
.nav-link-btn.active{
  font-weight: 600;
  color: black;
  border-bottom: 3px solid var(--primary-color);

}
.write-btn{
  background-color: var(--primary-color) !important;
  color: rgb(244, 240, 233);
}