
/* //flash */

.flash-sale {
  /* background: #f8f9fa; */
  border-radius: 10px;
}

.timer {
  gap: 10px;
}

.time-box {
  background: #000;
  color: white;
  padding: 8px 12px;
  border-radius: 8px;
  text-align: center;
  min-width: 60px;
}

.time-box span {
  font-size: 18px;
  font-weight: bold;
  display: block;
}

.time-box small {
  font-size: 12px;
}
.view-all-btn{
  margin-top: 30px;
  width: 200px;
  background-color: var(--primary-color);;
  color: white;
}
.before-div{
  background-color: var(--primary-color);;
}
.title-div{
  color: var(--primary-color);
}