<div id="autoCarousel" class="carousel slide w-100 p-2 pt-0" data-bs-ride="carousel">
    
    <!-- Indicators -->
    <div class="carousel-indicators">
      <button *ngFor="let img of images; let i = index"
              type="button"
              data-bs-target="#autoCarousel"
              [attr.data-bs-slide-to]="i"
              [class.active]="i === 0"
              aria-current="true"
              aria-label="Slide {{i+1}}">
      </button>
    </div>

    <!-- Carousel items -->
    <div class="carousel-inner">
      <div *ngFor="let img of images; let i = index" 
           class="carousel-item" 
           [class.active]="i === 0">
        <img [src]="img" class="d-block w-100" alt="Banner {{i+1}}">
      </div>
    </div>

</div>