<div class="d-flex justify-content-center gap-5 mt-5 container flex-column flex-lg-row">

<!-- first service -->
 <div class="d-flex flex-column parent-div p-3">
<div class="first-c">
<div class="secound-c">
    <i class="bi bi-rocket-takeoff"></i>
</div>
</div>
<h4 class="mt-4">FREE AND FAST DELIVERY</h4>
<p>FREE delivery for all orders over 140$</p>
</div>

<!-- secound service -->
 <div class="d-flex flex-column parent-div p-3">
<div class="first-c">
<div class="secound-c">
    <i class="bi bi-headset"></i>
</div>
</div>
<h4 class="mt-4">24/7 CUSTOMER SERVICE</h4>
<p>Friendly 24/7 customer support</p>
</div>

<!-- thaird service -->
 <div class="d-flex flex-column parent-div p-3">
<div class="first-c">
<div class="secound-c">
   <i class="bi bi-shield-fill-check"></i>
</div>
</div>
<h4 class="mt-4">MONEY BACK GUARANTEE</h4>
<p>We return money within 30 days</p>
</div>

</div>