.parent-div{
    align-items: center;
    align-content: center;
}
.first-c{
    align-content: center;
    justify-items: center;
    background-color: rgb(193, 188, 188);
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.secound-c{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 60px;
    height: 60px;
    border-radius: 50px;
}
i{
    color: white;
    font-size: 30px;
}