<div class="container my-4">
  <h4 class="title">My Orders</h4>

  <ng-container *ngFor="let order of orders">

  <div class="order-card mb-4 shadow-sm"   *ngIf="order.status === 'Canceled'">

    <!-- 🔹 Header -->
    <div class="order-header d-flex justify-content-between flex-wrap" >
      <div>
        <small>ORDER PLACED</small><br>
        {{ order.orderDate | date }}
      </div>

      <div>
        <small>TOTAL</small><br>
        <strong>$ {{order.totalPrice}}</strong>
      </div>

      <div>
        <small>STATUS</small><br>
        <span [ngSwitch]="order.status">

          <span *ngSwitchCase="'Pending'" class="badge bg-warning text-dark">
            Pending
          </span>

          <span *ngSwitchCase="'Delivered'" class="badge bg-success">
            Delivered
          </span>

          <span *ngSwitchCase="'Cancelled'" class="badge bg-danger">
            Cancelled
          </span>

          <span *ngSwitchCase="'Shipped'" class="badge bg-info">
            Shipped
          </span>

          <span *ngSwitchDefault class="badge bg-secondary">
            {{ order.status }}
          </span>

        </span>
      </div>

      <div>
        <small>ORDER ID</small><br>
        <strong>#{{ order.id }}</strong>
      </div>
    </div>

    <!-- 🔹 Body -->
    <div class="order-body d-flex justify-content-between align-items-center flex-wrap">

      <!-- 🧾 Items -->
      <div class="order-items">
        <div *ngFor="let item of order.orderItems">
          {{ item.productName }} × {{ item.quantity }}
        </div>
      </div>

      <!-- 🎯 Actions -->
      <div class="order-actions text-end mt-3 mt-md-0 d-flex flex-column gap-1">
        <button class="btn btn-outline-primary btn-sm p-0" [routerLink]="['/order', order.id]">
          View Details
        </button>


      </div>

    </div>

  </div>
</ng-container>
</div>

