.categories{
    align-items: start;
    border-right: 1px solid gray;
    padding: 30px;
    padding-left: 0;
}
@media (max-width:800px) {
    .categories{
            border-right: none;
    }
}
.categories button{
    background: none;
    border: none;
}
/* //category collaps  */
.category-toggle {
  background: rgba(255, 255, 255, 0.15); /* شفافية */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 14px;
  padding: 10px 14px;
  color: #0a0909;
  font-weight: 500;
  letter-spacing: 0.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Hover */
.category-toggle:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: translateY(-2px);
}

/* Click */
.category-toggle:active {
  transform: scale(0.97);
}

/* السهم */
.category-toggle .arrow {
  transition: 0.3s;
}

/* لما يفتح */
.category-toggle[aria-expanded="true"] .arrow {
  transform: rotate(180deg);
}