<div class="d-flex mt-5">
<div style="width: 17px; height: 40px;" class="before-div rounded-2"></div>
<p class="title-div p-2 ">Featured</p>
</div>

<h2 class="mb-4">New Arrival</h2>
<div class="container mt-4 p-0 mb-5">
  <div class="banner-grid">
    <div *ngFor="let banner of banners; let i = index" 
         class="banner-item" 
         [ngClass]="{
           'half': i === 0,
           'quarter': i === 1,
           'quarter-small': i > 1
         }">
      <img [src]="banner" alt="">
      <button class="btn btn-dark shop-btn">Shop Now</button>
    </div>
  </div>
</div>